<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mesaj Gönderme Servisi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
<div class="container">
    <h2>Sms Yolla</h2>
    <input type="tel" id="number" placeholder="Telefon Numarası">
    <input type="text" id="msg" placeholder="Mesajınız">
    <input type="button" class="button-primary" id="button" value="Gönder">

    <script src="js/main.js"></script>
</div>
</body>
</html>